<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokemon page</title>
  </head>
  <body>
    <h1>Pokemon page</h1>

    <ul>
      <% pokemon.forEach((poke, index) => { %>
      <li>
        <a href="/pokemon/<%= index %>"><%= poke.name %></a> &mdash;
        <a href="/pokemon/<%= index %>/edit">edit</a>
        <form action="/pokemon/<%= index %>?_method=delete" method="post">
          <input type="submit" value="delete" />
        </form>
      </li>
      <% }) %>
    </ul>

    <a href="/pokemon/new">Create a new Pokemon</a>
  </body>
</html>