<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/app.css">
    <meta charset="UTF-8" />
    
  </head>
  <body>
    <h1><%= pokemon.name %></h1>
    <img src="<%= pokemon.img %>" alt="" />

    <form action="/pokemon/<%= pokemon.id %>?_method=delete" method="post">
      <input type="submit" value="delete" <%pokemon.name%> />
    </form>
  </body>
</html>